# pycache
*.DS_Store
*__pycache__
**/__pycache__/*
__pycache__/
**/__pycache__/**

# .zip or .gz
*.zip
*.gz

# C extensions
*.pyd
*.so
*.o

# datasets
dataset/**
test_dataset/**
data/**

# tmp
tmp/**
tmp.py
repos/**
*.out

# coverage
coverage.xml
.coverage

# train
log/**
train_ckpts/**
weights/**
wandb/**

# history
his/**
history_repro/**
draw/**